PORT=8787
API_TOKEN=dev-token-cambia-esto

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=conecta2

# Opcional: limitar CORS a tu web
# CORS_ORIGIN=http://192.168.100.69:8000

