## Archivo de ejemplo – copia esto a local.properties y añade tu API Key
## Obtén tu key gratis en: https://console.cloud.google.com/apis/credentials
## Activa: "Maps SDK for Android"

sdk.dir=C\:\\Users\\TU_USUARIO\\AppData\\Local\\Android\\Sdk
MAPS_API_KEY=TU_API_KEY_AQUI
