EXPO_PUBLIC_API_BASE=http://192.168.100.69:8000/mysql-api
EXPO_PUBLIC_API_TOKEN=dev-token-cambia-esto

EXPO_PUBLIC_API_BASE=http://192.168.100.69:8000/mysql-api
EXPO_PUBLIC_API_TOKEN=dev-token-cambia-esto

